#root {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  text-align: center;

}

.light-theme {
  background-color: white;
  color: black;
}

.dark-theme {
  background-color: #222;
  color: white;
}

button {
  margin: 0 5px;
}