#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.light-theme {
  background-color: white;
  color: black;
}

.dark-theme {
  background-color: #222;
  color: white;
}

button {
  margin: 0 5px;
}